<!DOCTYPE html>
<html>
    <head>
        <title><%= articleTitle %> — The Magazine</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<meta charset='utf-8'> 
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div id="content">
            <header>
                <h1 id="title"><%= articleTitle %></h1>
                <div class="summary" id="summary"><%= articleSummary %></div>
                <h2>By <a id="authorlink" href="<%= authorWebsite %>"><%= author %></a></h2>
            </header>
            <article id="story">
                <%= story %>
        	</article>
        </div>
		<footer>
			<p>Liked the article? You should check <a href="http://the-magazine.org">The Magazine</a> and consider suscribing</p>
			<menu>
				<li><a href="/">Home</a></li>
				<li><a href="/about.html">About</a></li>
			</menu>
		</footer>
    </body>
</html>